# log files
*.log


#--------------------------------------------
#
#       binaries
#
#--------------------------------------------

# python compiled
*.pyc
*.pyo

# c/c++-object
*.o

# java binaries
*.jar
*.war
*.class

#--------------------------------------------
#
#       common out folders
#
#--------------------------------------------

# out/
# bin/
# target/


#--------------------------------------------
#
#       libraries
#
#--------------------------------------------

*.dll


#--------------------------------------------
#
#       common library folders
#
#--------------------------------------------

# lib/
